@page
<div>
    User : <input type="text" id="userInput"/>
           <br />
    Message : <input type="text" id="messageInput" />
              <br />
    <input type="button" id="sendButton" value="Send Message" />
</div>

<div>
    <ul id="messageList"></ul>
</div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/chat.js"></script>
